      <form>
        <input type="text" maxlength="100" placeholder="Dreams!">
        <button type="submit">Submit</button>
      </form>
      <section class="dreams">
        <ul id="dreams">
        </ul>
      </section>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
